# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [2]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [16]:
# Your code here:

non_legendary = pokemon[pokemon['Legendary']==False]
legendary = pokemon[pokemon['Legendary']==True]

legendary.value_counts()
non_legendary.value_counts()

#    Name                   Type 1   Type 2    Total  HP   Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
715  Noivern                Flying   Dragon    535    85   70      80       97       80       123    6           False        1
254  SceptileMega Sceptile  Grass    Dragon    630    70   110     75       145      85       145    3           False        1
229  Houndoom               Dark     Fire      500    75   90      50       110      80       95     2           False        1
     HoundoomMega Houndoom  Dark     Fire      600    75   90      90       140      90       115    2           False        1
230  Kingdra                Water    Dragon    540    75   95      95       95       95       85     2           False        1
                                                                                                                             ..
473  Mamoswine              Ice      Ground    530    110  130     80       70       60       80     4           False        1
475  Gallade                Psychic  Fighting  518    68   125     65       65       115      80     4           False        1
     GalladeMega Gallade    Psychic  Fighting  618    68   165     95       65       115      110    4           False        1
476  Probopass              Rock     Steel     525    60   55      145      75       150      40     4           False        1
1    Bulbasaur              Grass    Poison    318    45   49      49       65       65       45     1           False        1
Length: 374, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [20]:
# Your code here:

leg_mean = legendary['Total'].mean()
leg_std = legendary['Total'].std()

non_leg_mean = non_legendary['Total'].mean()
non_leg_std = non_legendary['Total'].std()

print(leg_mean)
print(leg_std)
print(non_leg_mean)
print(non_leg_std)

637.3846153846154
60.93738905315346
417.21360544217686
106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [22]:
# Your code here:
from scipy import stats

stats.ttest_ind(legendary['Total'],non_legendary['Total'])

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

#The p-value is very low which means that these two are probably indipendent from each other.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [26]:
# Your code here:
#two_types = pokemon[pokemon['Type 2'].isnull()==False ]

single_type = pokemon[pokemon['Type 2'].isnull()] 
single_type['Type 1'].value_counts()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [59]:
# Your code here:
water_type = single_type[single_type['Type 1']=='Water']
print(water_type['Total'].mean())
print(water_type['Total'].std())
other_type = single_type[single_type['Type 1'] != 'Water']
print(other_type['Total'].mean())
print(other_type['Total'].std())

413.7457627118644
114.9522529395303
411.7033639143731
114.88356637485276

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [60]:
# Your code here:
#h0 = variances are equal

stats.ttest_ind(water_type['Total'],other_type['Total'])

Ttest_indResult(statistic=0.1256752158442538, pvalue=0.9000547916855861)

Write your conclusion below.

In [ ]:
# Your conclusions here:
#The p_value is very high, which seems confirming our H0

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [61]:
# Your code here:
# H0 = defense equal to attack
pokemon.head()
stats.ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
#Being the p-value very low we reject the null hypothesis

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [62]:
# Your code here:
print(pokemon['Sp. Atk'].mean())
print(pokemon['Sp. Def'].mean())

stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

72.82
71.9025

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
# We cannot reject the H0 because the p-value is high enough

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [67]:
# Your code here:

print(stats.ttest_1samp(pokemon['Sp. Atk'],0.0))
print(stats.ttest_1samp(pokemon['Sp. Def'],0.0))

#Both very close to zero.

Ttest_1sampResult(statistic=62.943650026956746, pvalue=6.62004802797e-312)
Ttest_1sampResult(statistic=73.07901709851315, pvalue=0.0)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: